//Apparition popup
@keyframes popupmove {
    from {
        transform: translateX(-50%) translateY(100%);
    }
    to {
        transform: translateX(-50%) translateY(-50%);
    }
}

//Apparition menu mobile
@keyframes menumove {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

//Apparition liens menu mobile
@keyframes linkmenumove {
    from {
        opacity: 0;
        transform: translateY(250%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

//Animation titre popup
@keyframes textmove {
    to {
        transform: translateX(0);
    }
}

//Ouverture menu déroulant filtre
@keyframes filter-textmove-open{
    from{
        transform: translateY(50px);
    }
    to{
        transform: translateY(0);
    }
}

//Fermeture menu déroulant filtre
@keyframes filter-textmove-close{
    from{
        transform: translateY(0)
    }
    to{
        transform: translateY(50px);
    }
}

//Effet icone expand et info-lonk sur les photos
@keyframes info-photos-effect{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(0.9);
    }
    100%{
        transform: scale(1);
    }
}

//Apparition messages infos photos
@keyframes textexpandmove {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes textlinkmove {
    from {
        opacity: 0;
        transform: translateY(350%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}