$breakpoint__medium_desktop: 1700px;
$breakpoint__desktop: 1480px;
$breakpoint__laptop: 1200px;
$breakpoint__small_laptop: 1040px;
$breakpoint__large_tablet: 920px;
$breakpoint__tablet: 768px;
$breakpoint__phone: 576px;
$breakpoint__medium_phone: 420px;
$breakpoint__small_phone: 365px;