$body-color: #ffffff;
$primary-color: #000000;
$primary-color-light: #C4C4C4;
$primary-color-extralight: #D8D8D8;
$primary-color-xxxs: #E5E5E5;
$secondary-color: #E00000;
$secondary-color-light: #FE5858;
$secondary-color-extralight: #FFD6D6;
$accent-color: #313144;
$accent-color2: #B8BBC2;
$accent-color3: #215AFF;